@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
  background: #d3cce3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e9e4f0,
    #d3cce3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e9e4f0,
    #d3cce3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow: hidden;
}

#faq {
  background-color: #f2f2f2;
  padding: 5rem 2rem;
  box-shadow: 0 0 10px 1px #939393;
  max-width: 33%;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 40px;
  font-family: "Great Vibes", cursive;
  text-align: center;
  margin-bottom: 3rem;
  color: #c58940;
}

.faq-card {
  padding: 0.5rem;
  background-color: #efefef;
  box-shadow: 0 3px 5px 0px #ccc;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.faq-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5rem;
}

p {
  padding: 0.25rem 0.5rem;
  transition: all 250ms ease-in;
  overflow: hidden;
}

button {
  background-color: transparent;
  border: 1px solid #c58940;
  font-size: 16px;
  color: #c58940;
  padding: 0 0.5rem;
  cursor: pointer;
  font-size: 24px;
}

button:hover {
  animation-name: rotation;
  animation-duration: 300ms;
  animation-timing-function: linear;
}

.hide {
  height: 0;
  padding: 0;
  margin: 0;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(90deg);
  }
  
}